name: Generate TypeScript Clients

on:
  push:
    branches-ignore:
      - 'main'
  workflow_dispatch: # 允许手动触发

permissions:
  contents: write
  id-token: write

jobs:
  generate-clients:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Generate clients
        run: |
          git config --global user.email "ci-build@omni.com"
          git config --global user.name "ci build"
          npm run generate
          npm run build
          npm version patch

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "auto: chore: 更新 TypeScript 客户端"
          commit_options: '--no-verify'
          file_pattern: 'src/ package*.json'
          branch: ${{ github.ref_name }}
